/*ALTERA TODAS AS MARGIN E PADDING*/
* {
  margin: 0;
  padding: 0;
}

/*DA COR A AREA DE NAVEGAÇÃO*/
nav {
  background-color: #282828;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  padding: 30px 8px 25px 16px;
}

/*DEIXA A LISTA NA HORIZONTAL, CENTRALIZA E TIRA A BOLINHA DA LIST*/
ul {
  display: flex;
  justify-content: end;
  list-style-type: none;
}

/*DA ESPAÇAMENTO ENTRE AS PALAVRAS*/
li {
  margin-right: 20px;
}

a {
  color: #c4c4c4;
  text-decoration: none;
}

/**/
.nav-list a {
  background-color: #414141;
  border-radius: 2px;
  padding: 20px;
}

.nav-list a:hover {
  background: #626262;
  color: #ffffff;
  box-shadow: inset 0px 3px #989898;
}

/* footer */
:root {
  --color-neutral-0: #0c0c0c;
  --color-neutral-10: #171717;
  --color-neutral-30: #a8a29e;
  --color-neutral-40: #f5f5f5f5;
}

footer {
  width: 100%;
  color: var(--color-neutral-40);
}

.footer-link {
  text-decoration: none;
}

#footer-content {
  background-color: var(--color-neutral-10);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3rem 3.5rem;
}

#footer-contacts h1 {
  margin-bottom: 0.75rem;
}

#footer-contacts p {
  color: var(--color-neutral-30);
}


#footer-social-media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

#footer-social-media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-neutral-40);
  border-radius: 50%;
  transition: all 0.4s;
}

#footer-social-media .footer-link i {
  font-size: 1.25rem;
}

#footer-social-media .footer-link:hover {
  opacity: 0.8;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

#whatsapp {
  background-color: #25d366;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.footer-list .footer-link {
  color: var(--color-neutral-30);
  transition: all 0.4s;
}

.footer-list .footer-link:hover {
  color: #7f37c9;
}

#footer-subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#footer-subscribe p {
  color: var(--color-neutral-30);
}

#input-group {
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-0);
  border-radius: 4px;
}

#input-group input {
  all: unset;
  padding: 0.7rem;
  width: 100%;
}

#input-group button {
  background-color: #7f37c9;
  border: none;
  color: var(--color-neutral-40);
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}

#input-group button:hover {
  opacity: 0.8;
}

#footer-copyrighy {
  display: flex;
  justify-content: center;
  background-color: var(--color-neutral-0);
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  #footer-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 426px) {
  #footer-content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
}

/* Inicio Conteudo externo */
.mapa {
  display: flex;
  justify-content: center;
}

.mapa-item {
  flex-basis: 48%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.titulo-mapa p {
  margin: 0;
}

.titulo-mapa {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  text-shadow: 1px 1px 0px #E70EED,
    3px 3px 0px rgba(0, 0, 0, 0.15);
}

/* Fim Conteudo externo */

/* Forms */
select {
  border: 1px solid #ffffff;
  border-radius: 100px;
}

#opcoes:hover {
  cursor: pointer;
}

/*End Forms */